<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Change Password Form</title>
</head>
<style>
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
      }
      
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      form {
        display: flex;
        flex-direction: column;
      }
      
      .form-group {
        margin-bottom: 15px;
      }
      
      label {
        font-weight: bold;
      }
      
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      
      button {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }
      
</style>

<body>
  <div class="container">
    <h2>Change Password</h2>
    
    <form id="myForm"  method="POST">

      <div class="form-group">
        <label for="new-password">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required>
      </div>
      <button type="submit">Change Password</button>
    </form>
  </div>
  <script>
    var userId = "<%=userId%>";
    
    document.getElementById("myForm").action = `/${userId}/changePassword/`
    
    // Set the form action to the current URL
    
  </script>


</body>
</html>
